#my-button {
    -fx-text-fill: white;
    -fx-background-color: #353940;
}

#my-button:hover {
    -fx-background-color: #2b2d30;
}

#my-button:pressed {
    -fx-background-color: #494d52;
}

#write-button {
    -fx-text-fill: black;
    -fx-background-color: #3b86ff;
}

#write-button:hover {
    -fx-background-color: #216ed3;
}

#write-button:pressed {
    -fx-background-color: #69a0f5;
}

#delete-button {
    -fx-text-fill: black;
    -fx-background-color: #f11b1b;
}

#delete-button:hover {
    -fx-background-color: #c41515;
}

#delete-button:pressed {
    -fx-background-color: #fd3030;
}

#txtfield-send{
    -fx-border-color: white white black white;
}
